.home{
    color: gray;
}
.home:hover {
    transform: scale(1.3) ; 
    transition-duration: 200ms;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .Pimg:hover {
    transform: scale(1.1) ; 
    transition-duration: 200ms;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .Pbtn:hover {
    transform: scale(1.5) ; 
    transition-duration: 200ms;/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.bar{
    background-image: linear-gradient(to bottom, black,rgb(79, 79, 79));
    
}
.bar2{
  background-image: linear-gradient(to bottom,rgb(79, 79, 79), black);
  
}
.portfolio{
  background-image: linear-gradient(to bottom, black,rgb(79, 79, 79));
}
.experience{
  background-image: linear-gradient(to bottom,rgb(79, 79, 79), black);
}

@media (max-width: 767px) {
    .hidden-on-small {
      display: none;
    }
  }
.group-arrow:hover{
  transform: rotate(90deg);
  transition-duration: 300ms;
}


.img:hover{
  transform: scale(0.95) ; 
  transition-duration: 200ms;
}